# Open Agenda Secrets
OA_PUBLIC_KEY="xxxxxxxxx"
OA_SECRET_KEY="xxxxxxxxx"
ACCESS_TOKEN_URL="https://api.openagenda.com/v2/requestAccessToken"

# Open Agenda parameters
AGENDA_UID="44891982"       # Agenda Test https://openagenda.com/fr/flux-cca-test
TBD_LOCATION_UID="11634941" # Lieu par défaut "A DEFINIR" https://openagenda.com/flux-cca-test/admin/locations/11634941/edit

# Google Agenda Private ID's Example
GA_PRIVATE_URL_AD=
GA_PRIVATE_URL_JB="https://calendar.google.com/calendar/ical/XXXXXgroup.calendar.google.com/private-XXX/basic.ics"

# Facebook events ICS URL
GA_PRIVATE_URL_KLR="https://www.facebook.com/events/ical/upcoming/?uid=61565593161437&key=J2kMD9e8k6GNaqHn"

# Ateliers KAL
URL_AGENDA_ATELIERS_KAL="https://cloud.konkarlab.bzh/remote.php/dav/public-calendars/JixPor4dk7xqRAja/?export"

# API Key mistral for image analysis
MISTRAL_PRIVATE_API_KEY=xxxxx