.DS_Store
node_modules
.goutputstream-V7BOP2
.env*
!.env.example
*.log
.vscode
secret_token.json

#Python conda env
.autoenv.zsh

# Python requests cache
scrap_cache.sqlite
__pycache__
*.bak
*.BAK
.ipynb_checkpoints

.venv

# Google Cloud Console auth
association-concarneau-3f7ff63d5314.json