beautifulsoup4==4.*
dateparser==1.*
GitPython==3.*
pandas==2.*
python-slugify==8.*
pytz>=2024.1
Requests==2.*
requests_cache==1.*
thefuzz>=0.22
icalendar==6.*
mistralai==1.*
pydantic==2.*
InquirerPy>=0.3
watchdog==6.*